<main role="main">
  <div class="container">
    <div class="py-3 text-center">
      <h1>Picks Pool Rules</h1>
    </div>
    <h2>Objective</h2>
    <p>To have the most points at the end of the regular season. More points = more cash.</p>
  
    <h2>Against the Spread (ATS)</h2>
    <p>You are required to pick every game against the spread. To earn points, the team you select must cover the spread.</p>
    <p>You earn 1 point for a correct pick, 0 points for an incorrect pick, and 0 points for a push.</p>
    <p>You may LOCK or IRON LOCK any team. </p>
    <p>You earn 2 points for a correct LOCK, -1 points for an incorrect LOCK, and 0 points for a push.</p>
    <p>You earn 3 points for a correct IRON LOCK, -2 points for an incorrect IRON LOCK, and 0 points for a push.</p>

    <h2>Over/Under Totals</h2>
    <p>You may select whether a game’s total scored points will exceed (over) or fall below (under) the projected total.</p>
    <p>You earn 1 point for a correct pick, -1 points for an incorrect pick, and 0 points for a push.</p>

    <h2>Money Line</h2>
    <p>You may try to pick the winner of the game. To earn points, the team you pick just needs to win.</p>
    <p>If you pick the favorite, you wager the money line number to earn 1 point.</p>
    <p>If you pick the underdog, you wager 1 point to earn the money line number.</p>
    <p>If a tie occurs (unlikely), it’s a “No Action” bet, 0 points are earned, and you get your wager back.</p>

    <h2>Suicide Pool</h2>
    <p>Pick one team each week that you think will win.</p>
    <p>If that team wins, you move on to the following week. If they lose, you are eliminated. </p>
    <p>You can only use each team once. </p>
    <p>The amount of points you earn increases the longer you are alive. See the table below for more details.</p>
    <table border="1">
      <thead>
	<tr>
          <th>Elimnated DURING</th>
          <th>Points Earned</th>
	</tr>
      </thead>
      <tbody>
	<tr><td>Week 1</td><td align="center">0</td></tr>
	<tr><td>Week 2</td><td align="center">0</td></tr>
	<tr><td>Week 3</td><td align="center">0</td></tr>
	<tr><td>Week 4</td><td align="center">1</td></tr>
	<tr><td>Week 5</td><td align="center">2</td></tr>
	<tr><td>Week 6</td><td align="center">4</td></tr>
	<tr><td>Week 7</td><td align="center">5</td></tr>
	<tr><td>Week 8</td><td align="center">7</td></tr>
	<tr><td>Week 9</td><td align="center">9</td></tr>
	<tr><td>Week 10</td><td align="center">10</td></tr>
	<tr><td>Week 11</td><td align="center">12</td></tr>
	<tr><td>Week 12</td><td align="center">13</td></tr>
	<tr><td>Week 13</td><td align="center">15</td></tr>
	<tr><td>Week 14</td><td align="center">16</td></tr>
	<tr><td>Week 15</td><td align="center">18</td></tr>
	<tr><td>Week 16</td><td align="center">20</td></tr>
	<tr><td>Week 17</td><td align="center">22</td></tr>
	<tr><td>NOT ELIMINATED</td><td align="center">25</td></tr>
      </tbody>
    </table>
    <br>
    <h2>Team Wins (Over/Under)</h2>
    <p>You are required to pick whether each team will win more than their projected win total for the season. </p>
    <p>To earn points, the team must finish with more than that projection (over) or less than the projection (under). </p>
    <p>A correct pick earns 2 points. An incorrect pick earns 0 points.</p>
    <p>You may LOCK or IRON LOCK any team. </p>
    <p>You earn 4 points for a correct LOCK, -2 points for an incorrect LOCK, and 0 points for a push.</p>
    <p>You earn 6 points for a correct IRON LOCK, -4 points for an incorrect IRON LOCK, and 0 points for a push.</p>
    
    <h2>Price</h2>
    <p>$250 for the season. </p>
    <p>Payouts are made to the top half of the league and are determined based on how high in the standings you are.</p>
	<p>IMPORTANT: A Note About Line Changes</p>
<p>All lines- past, present, and future- can be viewed in the Sportsbook. </p>
<p>About a week in advance, lines for current games are made ACTIVE. You will find these lines are now available in the My Picks section, and you can now select your choices for these games.</p>
<p>ACTIVE lines CAN CHANGE. Lines change due to various reasons. You may make, submit, and edit picks during the ACTIVE period. </p>
<p>FINAL lines cannot change for any reason. <p>
<p><i>*Most lines will not change 24 hours prior to kickoff, but in the rare event of a major injury, a line may move dramatically enough to force an update. Therefore, lines will generally not be made final until the day of the game. Anytime lines are made FINAL or there is a significant line movement the day of the game, an email will be sent to all users from the ADMIN email address.</i></p>

    
    <h2>Tie-Breakers</h2>
    <p>1-      Better record against the spread (by %)</p>
    <p>2-      Better lock (including Iron Locks) record (by %)</p>
    <p>3-      Better Team Wins O/U record (by %)</p>
  </div>
</main>

