<main role="main">
  <div class="container">
    <div class="py-3 text-center">
      <h1>Picks Pool Rules</h1>
    </div>
    <h2>Objective</h2>
    <p>To have the most points at the end of the season. More points = more cash.</p>
    <p>There are 6 ways to earn points as detailed below.</p>
    <p>The first three are bets made for each game.</p>
    <p>The latter three are bets made with the entire season in mind.</p>

    <h2>Against the Spread (ATS)</h2>
    <p>You are required to pick every game against the spread. To earn points, the team you select must cover the spread.</p>
    <p>You earn 1 point for a correct pick, 0 points for an incorrect pick, and 0 points for a push.</p>
    <p>You may LOCK any game.</p>
    <p>You earn 2 points for a correct lock, -1 points for an incorrect lock, and 0 points for a push.</p>

    <h2>Over/Under Totals</h2>
    <p>You may select whether a game’s total scored points will exceed (over) or fall below (under) the projected total.</p>
    <p>You earn 1 point for a correct pick, -1 points for an incorrect pick, and 0 points for a push.</p>

    <h2>Money Line</h2>
    <p>Each game will have a money line number. To earn points, the team you select must win the game.</p>
    <p>If you pick the favorite, you wager the money line to earn 1 point.</p>
    <p>If you pick the underdog, you wager 1 point to earn the money line.</p>
    <p>If a tie occurs (unlikely), it’s a “No Action” bet, 0 points are earned, and you get your wager back.</p>


    <h2>Suicide Pool</h2>
    <p>Pick one team each week that you think will win.</p>
    <p>If that team wins, you move on to the following week. If they lose, you are eliminated. </p>
    <p>You can only use each team once. </p>
    <p>The player that makes it the furthest wins 5 points. </p>
    <p>You can also earn 2 points for making it to week 5, and an additional point each week beyond week 5 that you survive.</p>

    <h2>Team Wins (Over/Under)</h2>
    <p>You are required to pick whether each team will win more than their projected win total for the season. </p>
    <p>To earn points, the team must finish with more than that projection (over) or less than the projection (under). </p>
    <p>A correct pick earns 2 points. An incorrect pick earns 0 points.</p>
    <p>You may LOCK any team. </p>
    <p>You earn 4 points for a correct lock, -2 points for an incorrect lock, and 0 points for a push.</p>

    
    <h2>Price</h2>
    <p>$250 per person for the season. </p>
    <p>Payouts are made to the top five players as follows:</p>
    <p>1st Place: $XXX + (in dollars) the difference in points between themselves and 3rd place + the difference between themselves and 4th place + the difference between themselves and 5th place</p>
    <p>2nd place: $XXX </p>
    <p>3rd place: 50% of the remaining pot</p>
    <p>4th place: 30% of the remaining pot</p>
    <p>5th place: 20% of the remaining pot</p>

    <h2>Tie-Breakers</h2>
    <p>1-      Better ATS record (by %)</p>
    <p>2-      Better Lock record (by %)</p>
    <p>3-      Better Team Wins O/U record (by %)</p>
  </div>
</main>

