<option>Ari</option>
<option>Atl</option>
<option>Bal</option>
<option>Buf</option>
<option>Car</option>
<option>Chi</option>
<option>Cin</option>
<option>Cle</option>
<option>Dal</option>
<option>Den</option>
<option>Det</option>
<option>Gnb</option>
<option>Hou</option>
<option>Ind</option>
<option>Jax</option>
<option>Kac</option>
<option>Lac</option>
<option>Lar</option>
<option>Mia</option>
<option>Min</option>
<option>New</option>
<option>Nor</option>
<option>Nyg</option>
<option>Nyj</option>
<option>Oak</option>
<option>Phi</option>
<option>Pit</option>
<option>Snf</option>
<option>Sea</option>
<option>Tam</option>
<option>Ten</option>
<option>Was</option>
