      <div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">{{ @season }} Week {{ @week }} Lines</h2>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
              <li class="breadcrumb-item"><a href="#">View Lines</a></li>
              <li class="breadcrumb-item"><a href="/gamelines">View Game Lines</a></li>
            </ol>
          </nav>
        </div>
        <div class="main-content container-fluid">
	  <div class="col-md-6">
	    <div class="card card-border-color card-border-color-primary">
              <table class="table">
		<thead>
		  <tr>
                    <th style="width:20%;">Game</th>
                    <th style="width:20%;">Time</th>
                    <th style="width:20%;">Point Spread</th>
                    <th style="width:10%;">Money Line</th>
                    <th style="width:10%;">Total Points O/U</th>
		  </tr>
		</thead>
		<tbody>
		  <repeat group="{{ @games }}" value="{{ @game }}">
		    <tr>
		      <td>{{ @game.Matchup }}</td>
		      <td>{{ date('D m/d g:i A',strtotime(@game.Kickoff)) }}</td>
		      <td>{{ @game.Favorite . " -". @game.PointSpread }}</td>
		      <td>{{ @game.MoneyLine }}</td>
		      <td>{{ @game.OverUnder }}</td>
		    </tr>
		  </repeat>
		</tbody>
              </table>
            </div>
	  </div>
        </div>
      </div>
    </div>
