<OPTION>ARI</OPTION>
<OPTION>ATL</OPTION>
<OPTION>BAL</OPTION>
<OPTION>BUF</OPTION>
<OPTION>CAR</OPTION>
<OPTION>CHI</OPTION>
<OPTION>CIN</OPTION>
<OPTION>CLE</OPTION>
<OPTION>DAL</OPTION>
<OPTION>DEN</OPTION>
<OPTION>DET</OPTION>
<OPTION>GNB</OPTION>
<OPTION>HOU</OPTION>
<OPTION>IND</OPTION>
<OPTION>JAX</OPTION>
<OPTION>KAC</OPTION>
<OPTION>LAC</OPTION>
<OPTION>LAR</OPTION>
<OPTION>MIA</OPTION>
<OPTION>MIN</OPTION>
<OPTION>NEW</OPTION>
<OPTION>NOR</OPTION>
<OPTION>NYG</OPTION>
<OPTION>NYJ</OPTION>
<OPTION>OAK</OPTION>
<OPTION>PHI</OPTION>
<OPTION>PIT</OPTION>
<OPTION>SNF</OPTION>
<OPTION>SEA</OPTION>
<OPTION>TAM</OPTION>
<OPTION>TEN</OPTION>
<OPTION>WAS</OPTION>
