<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="app/img/casino.png">
    <title>NFL Picks Pool</title>
    <link rel="stylesheet" type="text/css" href="assets/lib/perfect-scrollbar/css/perfect-scrollbar.css"/>
    <link rel="stylesheet" type="text/css" href="assets/lib/material-design-icons/css/material-design-iconic-font.min.css"/>
    <link rel="stylesheet" href="assets/css/app.css" type="text/css"/>
  </head>
  <body>
    <div class="be-wrapper">
      <nav class="navbar navbar-expand fixed-top be-top-header">
        <div class="container-fluid">
          <div class="be-navbar-header"><a class="navbar-brand" href="/home"></a>
          </div>
          <div class="be-right-navbar">
            <ul class="nav navbar-nav float-right be-user-nav">
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><img src="app/img/mcduck_icon.gif" alt="Avatar"><span class="user-name">{{ @handle }}</span></a>
                <div class="dropdown-menu" role="menu">     
                  <div class="user-info">
                    <div class="user-name">{{ @handle }}</div>
                  </div><a class="dropdown-item" href="/profile"><span class="icon mdi mdi-face"></span>Account</a><a class="dropdown-item" href="/logout"><span class="icon mdi mdi-power"></span>Logout</a>
                </div>
              </li>
            </ul>
            <div class="page-title"><span>{{ @pageName }}</span></div>
          </div>
        </div>
      </nav>
      <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">{{ @pageName }}</a>
          <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
              <div class="left-sidebar-content">
                <ul class="sidebar-elements">
                  <li class="divider">Menu</li>
                  <li><a href="/home"><i class="icon mdi mdi-home"></i><span>Home</span></a>
                  <li class="parent"><a href="#"><i class="icon mdi mdi-collection-item"></i><span>My Leagues</span></a>
                    <ul class="sub-menu">
                      <li class="parent"><a href="#"><i class="icon mdi mdi-undefined"></i><span>2018 Season All Players</span></a>
			<ul class="sub-menu">
			  <li><a href="#"><i class="icon mdi mdi-undefined"></i><span>League Standings</span></a>
			  <li class="parent"><a href="#"><i class="icon mdi mdi-undefined"></i><span>League Picks</span></a>
			    <ul class="sub-menu">
			      <li class="parent"><a href=""><i class="icon mdi mdi-undefined"></i><span>Team Win Total Picks</span></a>
				<ul class="sub-menu">
				  <repeat group="{{ @teamWinsYearList }}" value="{{ @tw_year }}" key="{{ @i }}">
				    <form name="viewLeagueTeamPicksForm{{ @i }}" method="POST" action="/leaguepicksteam">
				      <input type="hidden" name="league_year" value="{{ @tw_year.league_year }}">
				      <li><a href="#" onclick="postForm('viewLeagueTeamPicksForm{{@i}}')"><i class="icon mdi mdi-undefined"></i><span>{{ @tw_year.league_year }}</span></a>
				      </li>
				    </form>
				  </repeat>
				</ul>
			      </li>
			      <li class="parent"><a href="#"><i class="icon mdi mdi-undefined"></i><span>Game Picks</span></a>
				<repeat group="{{ @gamesYearList }}" value="{{ @g_year }}" key="{{ @a }}">
				  <ul class="sub-menu">
				    <li class="parent"><a href="#"><i class="icon mdi mdi-undefined"></i><span>{{ @g_year.league_year }}</span></a>
				      <repeat group="{{ @gamesWeekList[@a] }}" value="{{ @g_week }}" key="{{ @b }}"> 
					<ul class="sub-menu"><li>
					    <form name="viewLeagueGamePicksForm{{ @a.@b }}" method="POST" action="/leaguepicksgames">
					      <input type="hidden" name="league_year" value="{{ @g_year.league_year }}">
					      <input type="hidden" name="league_week" value="{{ @g_week['league_week'] }}">
					      <li><a href="#" onclick="postForm('viewLeagueGamePicksForm{{@a.@b}}')"><i class="icon mdi mdi-undefined"></i><span>Week {{ @g_week['league_week'] }}</span></a>
					      </li>
					    </form>
					</ul>
				      </repeat>
				    </li>
				  </ul>
				</repeat>
			      </li>
			      <li><a href="#"><i class="icon mdi mdi-undefined"></i><span>Suicide Picks</span></a>
			    </ul>
			</ul>
                    </ul>
                  </li>
		  <li class="parent"><a href="#"><i class="icon mdi mdi-check"></i><span>My Picks</span></a>
                    <ul class="sub-menu">
                      <li class="parent"><a href=""><i class="icon mdi mdi-undefined"></i><span>Team Win Total Picks</span></a>
                        <ul class="sub-menu">
			  <repeat group="{{ @teamWinsYearList }}" value="{{ @tw_year }}" key="{{ @i }}">
			    <form name="teamPicksForm{{ @i }}" method="POST" action="/teampicks">
			      <input type="hidden" name="league_year" value="{{ @tw_year.league_year }}">
                              <li><a href="#" onclick="postForm('teamPicksForm{{@i}}')"><i class="icon mdi mdi-undefined"></i><span>{{ @tw_year.league_year }}</span></a>
                              </li>
			    </form>
			  </repeat>
                        </ul>
                      </li>
                      <li class="parent"><a href="#"><i class="icon mdi mdi-undefined"></i><span>Game Picks</span></a>
			<repeat group="{{ @gamesYearList }}" value="{{ @g_year }}" key="{{ @a }}">
                          <ul class="sub-menu">
                            <li class="parent"><a href="#"><i class="icon mdi mdi-undefined"></i><span>{{ @g_year.league_year }}</span></a>
			      <repeat group="{{ @gamesWeekList[@a] }}" value="{{ @g_week }}" key="{{ @b }}"> 
				<ul class="sub-menu"><li>
				  <form name="gamePicksForm{{ @a.@b }}" method="POST" action="/gamepicks">
				    <input type="hidden" name="league_year" value="{{ @g_year.league_year }}">
				    <input type="hidden" name="league_week" value="{{ @g_week['league_week'] }}">
				    <li><a href="#" onclick="postForm('gamePicksForm{{@a.@b}}')"><i class="icon mdi mdi-undefined"></i><span>Week {{ @g_week['league_week'] }}</span></a>
				    </li>
				  </form>
				</ul>
			      </repeat>
                            </li>
                          </ul>
			</repeat>
                      </li>
		      <li class="parent"><a href="#"><i class="icon mdi mdi-undefined"></i><span>Suicide Picks</span></a>
			<repeat group="{{ @gamesYearList }}" value="{{ @g_year }}" key="{{ @a }}">
                          <ul class="sub-menu">
			    <form name="suicidePicksForm{{ @a.@b }}" method="POST" action="/suicidepicks">
			      <input type="hidden" name="league_year" value="{{ @g_year.league_year }}">
			      <input type="hidden" name="league_week" value="{{ @gamesWeekList[0][0]['league_week'] }}">
			      <li><a href="#" onclick="postForm('suicidePicksForm{{@a.@b}}')"><i class="icon mdi mdi-undefined"></i><span>{{ @g_year.league_year }}</span></a>
			      </li>
			    </form>
			  </ul>
			</repeat>
                      </li>
                    </ul>
                  </li>
		  <li class="parent"><a href="#"><i class="icon mdi mdi-book"></i><span>Sportsbook</span></a>
                    <ul class="sub-menu">
                      <li class="parent"><a href=""><i class="icon mdi mdi-undefined"></i><span>Team Win Total Odds</span></a>
                        <ul class="sub-menu">
			  <repeat group="{{ @teamWinsYearList }}" value="{{ @tw_year }}" key="{{ @i }}">
			    <form name="teamLinesForm{{ @i }}" method="POST" action="/teamlines">
			      <input type="hidden" name="league_year" value="{{ @tw_year.league_year }}">
                              <li><a href="#" onclick="postForm('teamLinesForm{{@i}}')"><i class="icon mdi mdi-undefined"></i><span>{{ @tw_year.league_year }}</span></a>
                              </li>
			    </form>
			  </repeat>
                        </ul>
                      </li>
                      <li class="parent"><a href="#"><i class="icon mdi mdi-undefined"></i><span>Football Game Odds</span></a>
			<repeat group="{{ @gamesYearList }}" value="{{ @g_year }}" key="{{ @a }}">
                          <ul class="sub-menu">
                            <li class="parent"><a href="#"><i class="icon mdi mdi-undefined"></i><span>{{ @g_year.league_year }}</span></a>
			      <repeat group="{{ @gamesWeekList[@a] }}" value="{{ @g_week }}" key="{{ @b }}"> 
				<ul class="sub-menu"><li>
				  <form name="gameLinesForm{{ @a.@b }}" method="POST" action="/gamelines">
				    <input type="hidden" name="league_year" value="{{ @g_year.league_year }}">
				    <input type="hidden" name="league_week" value="{{ @g_week['league_week'] }}">
				    <li><a href="#" onclick="postForm('gameLinesForm{{@a.@b}}')"><i class="icon mdi mdi-undefined"></i><span>Week {{ @g_week['league_week'] }}</span></a>
				    </li>
				  </form>
				</ul>
			      </repeat>
                            </li>
                          </ul>
			</repeat>
                      </li>
                    </ul>
                  </li>
		  <li><a href="/rules"><i class="icon mdi mdi-info"></i><span>Rules</span></a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
	function postForm(form_num) {
	document.forms[form_num].submit();
	}
      </script>
