      <div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">{{ @league_year }} Week {{ @league_week }} League Picks</h2>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
              <li class="breadcrumb-item"><a href="#">League Picks</a></li>
              <li class="breadcrumb-item"><a href="#">Game Picks</a></li>
              <li class="breadcrumb-item"><a href="#">{{ @league_year }}</a></li>
              <li class="breadcrumb-item"><a href="#">Week {{ @league_week }}</a></li>
            </ol>
          </nav>
        </div>
        <div class="main-content container-fluid">
	  <check if="{{ empty(@leaguePicks) }}">
	    <true>
	      <h2>No Picks Yet. Check back after kickoff!</h2>
	    </true>
	    <false>
	      <div class="row">
		<div class="col-md-12">
		  <div class="card card-border-color card-border-color-primary">
                    <div class="card-header card-header-divider">League Picks</div>
                    <div class="card-body">
		      <div class="table-responsive noSwipe">
			<table class="table table-bordered">
			  <thead>
			    <tr>
			      <th/><th/><th/><th/><th/><th/>
			      <repeat group="{{ range(@numHeaderColumnsInQuery,count(current(@leaguePicks))-1) }}" value="{{ @i }}">
				<th class="text-center" style="width:5%;" colspan="3">{{array_keys(@leaguePicks[0])[@i]}}</th>
			      </repeat>
			    </tr>
			    <tr>
			      <th colspan="6"></th>
			      <repeat group="{{ range(@numHeaderColumnsInQuery,count(current(@leaguePicks))-1) }}" value="{{ @i }}" key="{{@a}}">
				<th class="text-center" style="width:5%;" colspan="3">{{ array_values(@leaguePickTotals[0])[@a]}}</th>
			      </repeat>
			    </tr>
			    <tr>
			      <th style="width:10%;">Matchup</th>
			      <th style="width:10%;">Kickoff</th>
			      <th style="width:10%;">Point Spread</th>
			      <th style="width:10%;">ML</th>
			      <th style="width:10%;">O/U</th>
			      <th style="width:10%;">Result</th>
			      <repeat group="{{ range(@numHeaderColumnsInQuery,count(current(@leaguePicks))-1) }}" value="{{ @i }}">
				<th class="text-center">Pick</th>
				<th class="text-center">ML</th>
				<th class="text-center">O/U</th>
			      </repeat>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			    </tr>
			    <repeat group="{{ @leaguePicks }}" key="{{@a}}" value="{{ @picks }}">
			      <tr>
				<td>{{ @picks.Matchup }}</td>
				<td>{{ date('D m/d g:i A',strtotime(@picks.Kickoff)) }}</td>
				<td>{{ @picks.Favorite . " -". @picks.PointSpread }}</td>
				<td>{{ @picks.MoneyLine }}</td>
				<td>{{ @picks.OverUnder }}</td>
				<td>{{ @picks.Result }}</td>
				<repeat group="{{ range(@numHeaderColumnsInQuery,count(current(@leaguePicks))-1) }}" value="{{ @i }}">
				  <td align="center"
				      <check if="{{explode(',',array_values(@leaguePicks[@a])[@i])[@spreadPointsColumnIdx]<0}}">
					<true>
					  class="table-danger"
					</true>
				      </check>
				      <check if="{{explode(',',array_values(@leaguePicks[@a])[@i])[@spreadPointsColumnIdx]>0}}">
					<true>
					  class="table-success"
					</true>
				      </check>
				      >
				    <check if="{{@picks.away_id == explode(',',array_values(@leaguePicks[@a])[@i])[@spreadPickIdx]}}">
				      <true><img src="app/img/teams/{{ @picks.away_id }}.gif" width="25" height="25"></true>
				    </check>
				    <check if="{{@picks.home_id == explode(',',array_values(@leaguePicks[@a])[@i])[@spreadPickIdx]}}">
				      <true><img src="app/img/teams/{{ @picks.home_id }}.gif" width="25" height="25"></true>
				    </check>
				    <br>
				    <check if="{{ explode(',',array_values(@leaguePicks[@a])[@i])[@wagerIdx] == @lockWagerValue }}">
				      <true>Lock</true>
				    </check>
				    <check if="{{ explode(',',array_values(@leaguePicks[@a])[@i])[@wagerIdx] == @ironWagerValue }}">
				      <true>Iron</true>
				    </check>
				    <br><b>{{explode(',',array_values(@leaguePicks[@a])[@i])[@spreadPointsColumnIdx]}}</b>
				  </td>
				  <td align="center"
				      <check if="{{explode(',',array_values(@leaguePicks[@a])[@i])[@moneyPointsColumnIdx]<0}}">
					<true>
					  class="table-danger"
					</true>
				      </check>
				      <check if="{{explode(',',array_values(@leaguePicks[@a])[@i])[@moneyPointsColumnIdx]>0}}">
					<true>
					  class="table-success"
					</true>
				      </check>
				      >
				    <check if="{{@picks.away_id == explode(',',array_values(@leaguePicks[@a])[@i])[@moneyPickIdx]}}">
				      <true><img src="app/img/teams/{{ @picks.away_id }}.gif" width="25" height="25"></true>
				    </check>
				    <check if="{{@picks.home_id == explode(',',array_values(@leaguePicks[@a])[@i])[@moneyPickIdx]}}">
				      <true><img src="app/img/teams/{{ @picks.home_id }}.gif" width="25" height="25"></true>
				    </check>
				    <br><br><b>{{explode(',',array_values(@leaguePicks[@a])[@i])[@moneyPointsColumnIdx]}}</b>
				  </td>
				  <td align="center"
				      <check if="{{explode(',',array_values(@leaguePicks[@a])[@i])[@ouPointsColumnIdx]<0}}">
					<true>
					  class="table-danger"
					</true>
				      </check>
				      <check if="{{explode(',',array_values(@leaguePicks[@a])[@i])[@ouPointsColumnIdx]>0}}">
					<true>
					  class="table-success"
					</true>
				      </check>
				      >
				    {{explode(',',array_values(@leaguePicks[@a])[@i])[@ouPickIdx]}}
				    <br><br><b>{{explode(',',array_values(@leaguePicks[@a])[@i])[@ouPointsColumnIdx]}}</b>
				  </td>
				</repeat>
			      </tr>
			    </repeat>
			  </tbody>
			</table>
		      </div>
		    </div>
		  </div>
		</div>	  
	      </div>
	    </false>
	  </check>
	</div>
