<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>NFL Picks Pool</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="app/css/signin.css" rel="stylesheet">
  </head>
<div class="container">

  <body class="text-center">
      <img class="mb-4" src="app/views/scrooge.png" alt="" width="177" height="322">
      <h1 class="h3 mb-3 font-weight-normal">Password Sent</h1>
	<p>Your password was send to the email address specified.</p><p>If it does not arrive in 15 minutes, contact your league commissioner.</p>
        <a class="btn btn-lg btn-primary" href="/login" role="button">Login</a>
  </body>
</div>

</html>
