<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
<script async src="https://cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=getbootstrapcom" id="_carbonads_js"></script>

<h2 id="existing">New Picks</h2>
<form method="POST" action="/addpicks">
  <div class="form align-items-center">
    <div class="bd-example">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Away</th>
          <th scope="col">Home</th>
          <th scope="col">Spread</th>
          <th scope="col">Moneyline</th>
          <th scope="col">Pick</th>
          <th scope="col">ML</th>
          <th scope="col">Lock</th>
        </tr>
      </thead>
      <tbody>
      <repeat group="{{ @oddsForNewPicks }}" key="{{ @akey }}" value="{{ @odds }}">
        <tr>
	  <input type="hidden" name="odds_id[{{ @ikey }}]" id="odds_id[{{ @ikey }}]" value="{{ @odds.id }}">
          <td>{{ @odds.date }}</td>
          <td>{{ @odds.away }}</td>
          <td>{{ @odds.home }}</td>
          <td>{{ @odds.spread }}</td>
          <td>{{ @odds.moneyline }}</td>
          <td>
	    <select class="form-control-inline" type="text" value="" id="spread_pick[{{ @akey }}]" name="spread_pick[{{ @akey }}]">
 	       <option>{{ @odds.away }}</option>
	       <option>{{ @odds.home }}</option>
	    </select>
	  </td>
	  <td>
	    <select class="form-control-inline" type="text" value="" id="ml_pick[{{ @akey }}]" name="ml_pick[{{ @akey }}]">
 	      <option></option>
 	      <option>{{ @odds.away }}</option>
	      <option>{{ @odds.home }}</option>
	    </select>
          </td>
	  <td>
	    <input class="form-check-input-inline" type="checkbox" value="1" id="lock[{{ @akey }}]" name="lock[{{ @akey }}]">
	  </td>
        </tr>
      </repeat>
      <tr>
	<td>
          <button type="submit" class="btn-small btn-primary mb-2">Submit</button>
	</td>
        <td/><td/><td/><td/><td/><td/><td/>
      </tr>
    </tbody>
  </div>
  </div>
</table>
</form>

<h2 id="examples">Existing Picks</h2>
<div class="bd-example">
<table class="table">
  <thead>
    <tr>
          <th scope="col">Date</th>
          <th scope="col">Away</th>
          <th scope="col">Home</th>
          <th scope="col">Spread</th>
          <th scope="col">Moneyline</th>
          <th scope="col">Pick</th>
          <th scope="col">ML</th>
          <th scope="col">Lock</th>
    </tr>
  </thead>
  <tbody>
    <repeat group="{{ @existingPicks }}" key="{{ @ikey }}" value="{{ @item }}">
	<p></p>
      <tr>
        <td>{{ @oddsForExistingPicks[@ikey].date }}</td>
        <td>{{ @oddsForExistingPicks[@ikey].away }}</td>
        <td>{{ @oddsForExistingPicks[@ikey].home }}</td>
        <td>{{ @oddsForExistingPicks[@ikey].spread }}</td>
        <td>{{ @oddsForExistingPicks[@ikey].moneyline }}</td>
        <td>{{ @item.spread_pick }}</td>
        <td>{{ @item.ml_pick }}</td>
        <td>{{ @item.lock }}</td>
      </tr>
    </repeat>
      <tr>
        <td><a class="btn btn-primary mb-2" href="/updatepicks" role="button">Update</a></td><td/><td/><td/><td/><td/><td/><td/></td>
      </tr>
  </tbody>
</table>
</div>
</main>
