      <div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">{{ @pageName }}</h2>
          <h2 class="page-head-title">{{ @passwordResult }}</h2>
        </div>
        <div class="main-content container-fluid">
	  <div class="col-md-6">
	    <div class="card card-border-color card-border-color-primary">
	      <form method="POST" action="/updatepassword">
		<div class="card-header card-header-divider">Change Password</div>
		<div class="form-group row">
                  <label class="col-12 col-sm-3 col-form-label text-sm-right" for="currentPassword">Current Password</label>
                  <div class="col-12 col-sm-8 col-lg-6">
                    <input class="form-control" id="currentPassword" name="currentPassword" type="password">
                  </div>
		</div>
		<div class="form-group row">
                  <label class="col-12 col-sm-3 col-form-label text-sm-right" for="newPassword">New Password</label>
                  <div class="col-12 col-sm-8 col-lg-6">
                    <input class="form-control" id="newPassword" name="newPassword" type="password">
                  </div>
		</div>
		<div class="form-group row">
                  <label class="col-12 col-sm-3 col-form-label text-sm-right" for="repeatPassword">Repeat Password</label>
                  <div class="col-12 col-sm-8 col-lg-6">
                    <input class="form-control" id="repeatPassword" name="repeatPassword" type="password">
                  </div>
		</div>
		<div class="col-12">
		  <button type="submit" class="btn btn-primary btn-block">Submit</button>
		</div>
            </div>
	    </form>
	  </div>
        </div>
      </div>
    </div>
