<!--<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">-->
<main role="main" class="container">
<h2 id="existing">Scoreboard</h2>
<div class="bd-example">
<form method="POST" action="/scoreboard">
<table class="table">
  <div class="form align-items-center">
    <div class="bd-example">
      <thead>
        <tr>
          <th scope="col">Season</th>
          <th scope="col">Week</th>
          <th/><th/><th/><th/><th/><th/><th/>
        </tr>
      </thead>
      <tbody>
	<tr>
	  <td>
	    <select class="form-control-inline" type="text" value="" id="season" name="season">
 	      <option>2018</option>
	    </select>
          </td>
	  <td>
	    <select class="form-control-inline" type="text" value="" id="week" name="week">
	      <repeat group="{{range(1,16)}}" value="{{ @week }}">
	        <option>{{ @week }}</option>
	      </repeat>
 	        <option>Preseason</option>
	    </select>
          </td>
          <td><button type="submit" class="btn btn-primary mb-2">Submit</button></td>
          <td/><td/><td/><td/><td/><td/><td/>
        </tr>
      </tbody>
    </div>
  </div>
</table>
</form>
<check if="{{ @weekly == 1 }}">
<true>
<repeat group="{{ @users }}" key="{{ @ukey }}" value="{{ @user }}">
<h3 id="userid">{{ @user.email }}</h3>
<table class="table">
  <thead>
    <tr>
          <th scope="col">Season</th>
          <th scope="col">Week</th>
          <th scope="col">Date</th>
          <th scope="col">Away</th>
          <th scope="col">Home</th>
          <th scope="col">Spread</th>
          <th scope="col">Moneyline</th>
          <th scope="col">Pick</th>
          <th scope="col">ML</th>
          <th scope="col">Lock</th>
    </tr>
  </thead>
  <tbody>
      <repeat group="{{ @scores[@ukey] }}" key="{{ @pkey }}" value="{{ @pick }}">
	<tr>
          <td>{{ @pick.season }}</td>
          <td>{{ @pick.week }}</td>
          <td>{{ date('D m/d g:i A',strtotime(@pick.date)) }}</td>
          <td>{{ @pick.away }}</td>
          <td>{{ @pick.home }}</td>
          <td>{{ @pick.spread }}</td>
          <td>{{ @pick.moneyline }}</td>
          <td>{{ @pick.spread_pick }}</td>
          <td>{{ @pick.ml_pick }}</td>
          <td>{{ @pick.lock }}</td>
        </tr>
      </repeat>
  </tbody>
</table>
</repeat>
</true>
<false>
<repeat group="{{ @users }}" key="{{ @ukey }}" value="{{ @user }}">
<h3 id="userid">{{ @user.email }}</h3>
<table class="table">
  <thead>
    <tr>
          <th scope="col">Team</th>
          <th scope="col">O/U</th>
          <th scope="col">Pick</th>
          <th scope="col">Lock</th>
    </tr>
  </thead>
  <tbody>
      <repeat group="{{ @preseasonOus[@ukey] }}" key="{{ @pkey }}" value="{{ @item }}">
	<tr>
          <td>{{ @item.region_name." ".@item.team_name }}</td>
          <td>{{ @item.ou }}</td>
          <td>{{ @item.pick }}</td>
          <td>{{ @item.lock }}</td>
        </tr>
      </repeat>
  </tbody>
</table>
</repeat>
</false>
</check> 
</main>
